nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgb(46, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
}

.nav__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.nav__content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav__content-logo img {
    height: 2rem;
    cursor: pointer;
}

.nav__content-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav__content-text ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__content-text li {
    margin-left: 20px;
}


.nav__content-mobile {
    margin-left: 20px;
    display: none;
}


@media (max-width: 768px){

    .nav__content-text {
        display: none;
    }
    .nav__content-mobile {
        display: flex;
        cursor: pointer;
        color: #fff;
    }

    .nav__content-mobile:hover {
        color: #69edff;
    }
}