*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a:hover {
  color: #69edff;
}

